## <summary>Haveged service</summary>

########################################
## <summary>
##   Administer haveged
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed to manage the haveged domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`haveged_admin',`
	gen_require(`
		type haveged_t;
	')

	allow $1 haveged_t:process { ptrace signal_perms };
	ps_process_pattern($1, haveged_t)
')
