policy_module(test, 1.0)

gen_tunable(eid_viewer_execmem, false)

type eid_viewer_t;
type eid_viewer_exec_t;
userdom_user_application_domain(eid_viewer_t, eid_viewer_exec_t)

type eid_viewer_tmpfs_t;
files_tmpfs_file(eid_viewer_tmpfs_t)
ubac_constrained(eid_viewer_tmpfs_t)

allow eid_viewer_t self:process { getsched signal };
allow eid_viewer_t self:fifo_file rw_fifo_file_perms;

allow eid_viewer_t eid_viewer_tmpfs_t:file manage_file_perms;

corecmd_exec_shell(eid_viewer_t)
corecmd_exec_bin(eid_viewer_t)

# No domain transition, eid-viewer has its own domain
java_exec(eid_viewer_t)

userdom_use_user_terminals(eid_viewer_t)

miscfiles_read_localization(eid_viewer_t)

getty_use_fds(eid_viewer_t)

files_read_usr_files(eid_viewer_t)
files_read_etc_files(eid_viewer_t)

kernel_read_system_state(eid_viewer_t)

xserver_user_x_domain_template(eid_viewer, eid_viewer_t, eid_viewer_tmpfs_t)

tunable_policy(`eid_viewer_execmem',`
	allow eid_viewer_t self:process execmem;
')

gen_require(`
  type staff_t;
  role staff_r;
')

role staff_r types eid_viewer_t;
domtrans_pattern(staff_t, eid_viewer_exec_t, eid_viewer_t)
