module fixlocal 1.0.1;

require {
	type mozilla_t;
	type ssh_t, port_t;
	type sysadm_t;
	type staff_t;
	type skype_t;
	type node_t;
	type user_home_dir_t;
	type gorg_t;
	type portage_ebuild_t;
	class process { execmem };
	class tcp_socket { name_bind name_connect node_bind };
	class fifo_file { getattr };
	class file { create read write unlink execute getattr };
	class dir { search getattr };
}

# Tools with execmem requirement
allow mozilla_t self:process { execmem };
# Allow ssh to more random port
allow ssh_t port_t:tcp_socket { name_connect };
# Allow lsof to function properly on skype process
allow sysadm_t skype_t:fifo_file { getattr };
# Allow vncviewer -listen mode (should be in its own domain)
allow staff_t port_t:tcp_socket { name_bind };
allow staff_t node_t:tcp_socket { node_bind };

allow gorg_t portage_ebuild_t:dir { search getattr };
allow gorg_t portage_ebuild_t:file { getattr read };

##
## These ones still need to be validated if we need them for 
## anything that I don't need (denying them doesn't change
## behavior here) 
## 

##
## These can be ignored on my system (I don't want them being allowed anyhow)
##
