## <summary>Pan news reader client</summary>

########################################
## <summary>
##	Role access for pan
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	User domain for the role
##	</summary>
## </param>
#
interface(`pan_role',`
	gen_require(`
		type pan_t, pan_exec_t, pan_home_t;
	')
	role $1 types pan_t;

	allow $2 pan_t:process signal_perms;

	domtrans_pattern($2, pan_exec_t, pan_t)

	ps_process_pattern($2, pan_t)

        manage_dirs_pattern($2, pan_home_t, pan_home_t)
        manage_files_pattern($2, pan_home_t, pan_home_t)
        manage_lnk_files_pattern($2, pan_home_t, pan_home_t)

        relabel_dirs_pattern($2, pan_home_t, pan_home_t)
        relabel_files_pattern($2, pan_home_t, pan_home_t)
        relabel_lnk_files_pattern($2, pan_home_t, pan_home_t)
')

