policy_module(links, 1.0.0)

############################
# 
# Declarations
#

type links_t;
type links_exec_t;
application_domain(links_t, links_exec_t)

type links_home_t;
typealias links_home_t alias { user_links_home_t staff_links_home_t sysadm_links_home_t };
userdom_user_home_content(links_home_t)

type links_tmpfs_t;
typealias links_tmpfs_t alias { user_links_tmpfs_t staff_links_tmpfs_t sysadm_links_tmpfs_t };
files_tmpfs_file(links_tmpfs_t)
ubac_constrained(links_tmpfs_t)
