policy_module(skypeusers, 1.0.0)

gen_require(`
  type user_t;
  role user_r;
  type staff_t;
  role staff_r;
')

#optional_policy(`
#  skype_role(user_r, user_t)
#  skype_role(staff_r, staff_t)
#')

