policy_module(minecraft, 1.0)

#########################################
#
# Declarations
#

# TODO Add minecraftd_t for server

type minecraft_t;
type minecraft_exec_t;
userdom_user_application_domain(minecraft_t, minecraft_exec_t)

type minecraft_tmpfs_t;
userdom_user_tmpfs_file(minecraft_tmpfs_t)

type minecraft_tmp_t;
userdom_user_tmp_file(minecraft_tmp_t)

attribute_role minecraft_roles;
role minecraft_roles types minecraft_t;

type minecraft_home_t;
userdom_user_home_content(minecraft_home_t)

##########################################
#
# Policy rules
#

allow minecraft_t self:process { getsched setsched setcap signal signull execmem };
allow minecraft_t self:fifo_file rw_fifo_file_perms;
allow minecraft_t self:netlink_route_socket { create_netlink_socket_perms rw_netlink_socket_perms };
allow minecraft_t self:netlink_kobject_uevent_socket create_socket_perms;

can_exec(minecraft_t, minecraft_exec_t)

allow minecraft_t minecraft_home_t:file { execute map relabelfrom relabelto };
allow minecraft_t minecraft_home_t:dir { relabelfrom relabelto };
manage_files_pattern(minecraft_t, minecraft_home_t, minecraft_home_t)
manage_dirs_pattern(minecraft_t, minecraft_home_t, minecraft_home_t)
manage_lnk_files_pattern(minecraft_t, minecraft_home_t, minecraft_home_t)

allow minecraft_t minecraft_tmp_t:file { execute map };
manage_files_pattern(minecraft_t, minecraft_tmp_t, minecraft_tmp_t)
manage_fifo_files_pattern(minecraft_t, minecraft_tmp_t, minecraft_tmp_t)
manage_dirs_pattern(minecraft_t, minecraft_tmp_t, minecraft_tmp_t)

manage_files_pattern(minecraft_t, minecraft_tmpfs_t, minecraft_tmpfs_t)
manage_dirs_pattern(minecraft_t, minecraft_tmpfs_t, minecraft_tmpfs_t)


domain_use_interactive_fds(minecraft_t)

files_dontaudit_search_all_mountpoints(minecraft_t)
files_read_etc_files(minecraft_t)
files_map_etc_files(minecraft_t)
files_map_usr_files(minecraft_t)
files_read_usr_files(minecraft_t)
files_search_var_lib(minecraft_t)
files_tmp_filetrans(minecraft_t, minecraft_tmp_t, { dir file fifo_file })

fs_getattr_xattr_fs(minecraft_t)
fs_getattr_tmpfs(minecraft_t)
fs_tmpfs_filetrans(minecraft_t, minecraft_tmpfs_t, { dir file })

corecmd_exec_bin(minecraft_t)
corecmd_exec_shell(minecraft_t)

corenet_tcp_bind_generic_node(minecraft_t)
corenet_udp_bind_generic_node(minecraft_t)
corenet_tcp_bind_all_unreserved_ports(minecraft_t)
corenet_udp_bind_all_unreserved_ports(minecraft_t)

dev_map_xserver_misc(minecraft_t)
dev_read_input(minecraft_t)
dev_read_rand(minecraft_t)
dev_read_sound(minecraft_t)
dev_read_sysfs(minecraft_t)
dev_read_urand(minecraft_t)
dev_rw_dri(minecraft_t)
dev_rw_xserver_misc(minecraft_t)
dev_write_sound(minecraft_t)

# Do not use java_domain_type as it overrules tmp_t transition
java_exec(minecraft_t)
java_manage_generic_home_content(minecraft_t)

kernel_read_network_state(minecraft_t)
kernel_read_net_sysctls(minecraft_t)
kernel_read_system_state(minecraft_t)
kernel_read_vm_overcommit_sysctl(minecraft_t)

miscfiles_read_fonts(minecraft_t)
miscfiles_read_generic_certs(minecraft_t)
miscfiles_read_localization(minecraft_t)

pulseaudio_client_domain(minecraft_t, minecraft_tmpfs_t)

dev_read_sysfs(minecraft_t)

sysnet_read_config(minecraft_t)

# To read ~/.gentoo/java... stuff (symlink to actual java bin)
userdom_read_user_home_content_symlinks(minecraft_t)
userdom_manage_user_certs(minecraft_t)
userdom_use_user_terminals(minecraft_t)
userdom_basic_networking_template(minecraft)
userdom_list_user_home_dirs(minecraft_t)
userdom_read_user_tmp_files(minecraft_t)
userdom_user_home_dir_filetrans(minecraft_t, minecraft_home_t, dir, ".minecraft")

xdg_read_cache_home_files(minecraft_t)
xdg_read_config_home_files(minecraft_t)
xdg_read_data_home_files(minecraft_t)

xserver_user_x_domain_template(minecraft, minecraft_t, minecraft_tmpfs_t)

optional_policy(`
	alsa_domain(minecraft_t, minecraft_tmpfs_t)
')

############################################
#
# Fix me later
# 

gen_require(`
	role user_r;
	type user_t;
')

minecraft_role(user_r, user_t)
