policy_module(haveged, 1.0.0)

########################################
#
# Declarations
#

type haveged_t;
type haveged_exec_t;
init_daemon_domain(haveged_t, haveged_exec_t)

type haveged_var_run_t;
files_pid_file(haveged_var_run_t)

########################################
#
# haveged local policy
#
allow haveged_t self:capability sys_admin;
allow haveged_t self:unix_dgram_socket create_socket_perms;
allow haveged_t haveged_var_run_t:file manage_file_perms;

# pid file
files_pid_filetrans(haveged_t, haveged_var_run_t, file)

## Kernel stuff
kernel_rw_kernel_sysctl(haveged_t)
dev_read_rand(haveged_t)
dev_write_rand(haveged_t)

## System stuff
miscfiles_read_localization(haveged_t)

## Other stuff
logging_send_syslog_msg(haveged_t)
