## <summary>Mutt e-mail client</summary>

#######################################
## <summary>
##      The role for the mutt application.
## </summary>
## <param name="user_role">
##      <summary>
##      The role associated with the user domain.
##      </summary>
## </param>
## <param name="user_domain">
##      <summary>
##      The type of the user domain.
##      </summary>
## </param>
#
interface(`mutt_role',`
	gen_require(`
		type mutt_t, mutt_exec_t, mutt_home_t, mutt_conf_t, mutt_sys_conf_t;
		type mutt_tmp_t;
	')

	#######################################
	#
	# Declarations
	#
	
	role $1 types mutt_t;

	############################
	#
	# Policy
	#

	manage_dirs_pattern($2, mutt_home_t, mutt_home_t)
	manage_files_pattern($2, mutt_home_t, mutt_home_t)
	
	manage_dirs_pattern($2, mutt_conf_t, mutt_conf_t)
	manage_files_pattern($2, mutt_conf_t, mutt_conf_t)

	relabel_dirs_pattern($2, mutt_home_t, mutt_home_t)
	relabel_files_pattern($2, mutt_home_t, mutt_home_t)
	
	relabel_dirs_pattern($2, mutt_conf_t, mutt_conf_t)
	relabel_files_pattern($2, mutt_conf_t, mutt_conf_t)

	domtrans_pattern($2, mutt_exec_t, mutt_t)

	ps_process_pattern($2, mutt_t)
')	

#######################################
## <summary>
##      Allow other domains to manage mutt's temporary files (used for instance
##      for e-mail drafts)
## </summary>
## <param name="target_domain">
##      <summary>
##      The type of the target domain that is allowed access.
##      </summary>
## </param>
#
interface(`mutt_manage_tmp_files',`
	gen_require(`
		type mutt_tmp_t;
	')

	############################
	#
	# Policy
	#

	manage_files_pattern($1, mutt_tmp_t, mutt_tmp_t)
')
